/*-----------------------------------------------------------
        Lumiere FICTIONAL WEBSITE CSS STYLE SHEET
------------------------------------------------------------*/

/*-----------------------------------------------------------
                    WEBSITE COLOUR SCHEME
------------------------------------------------------------*/
/*FIRST COLOUR: rgba(195, 168, 255, 1);*/
/*SECOND COLOUR: rgba(44, 31, 61, 1);*/
/*THIRD COLOUR: rgba(55, 42, 71, 1);*/
/*FOURTH COLOUR: #444; - for main content text and heading*/

/*---------------------FONT FACE STYLES------------------------*/

@font-face {
    font-family: '28_days';
    src: url('../fonts/28_days_later-webfont.eot');
    src: url('../fonts/28_days_later-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/28_days_later-webfont.woff2') format('woff2'),
         url('../fonts/28_days_later-webfont.woff') format('woff'),
         url('../fonts/28_days_later-webfont.ttf') format('truetype'),
         url('../fonts/28_days_later-webfont.svg#28_days_laterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*-----------------------------------------------------------
            Mobile default styles - global styles
------------------------------------------------------------*/

/*Prevents adjustments of font size after orientation change in IE on windows phones and in IOS*/

html{
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    
}

/*Apply a natural box model to all elements*/
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/*-----------------------------------------------------------
                        HOME STYLES
------------------------------------------------------------*/
/*Make image and video responsive to container and screen size*/

img, video{
    width: 100%;
}

body{
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    color: #444;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;/*stops anything larger than the screen from creating a scroll bar on the horizontal axis*/
}

.container{
    width: 80%;
    height: 100%;
    margin: 100px auto;/* easy way to centre */
}

.homeBgImage{
    position: relative;
    background-image: url(../../HTML5-master/HTML5-master/Case_Study/img/trainerHomePage.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    border-bottom: 15px solid rgba(53, 38, 80, 0.8);
    background-attachment: fixed;
}

.logoC{
    position: absolute;
    top: 3px;
    left: 10px;
    width: 45px;
    z-index: 6;
}

.fa-shopping-basket{
    font-size: 2.5em;
    color: rgba(194, 166, 255, 1);
}

.cartIcon{
    position: absolute;
    top: 15px;
    left: 45vw;
    width: 45px;
    z-index: 6;
    
}

.navC{
	position: relative;
    display: inline-block;
    color: rgba(55, 42, 71, 1);
    height: auto;
    width: 100%;
    background-color: rgba(44, 31, 61, 1);
    /*position: fixed;*/
    border-bottom: 2px solid rgba(194, 166, 255, 1);
}

.navBtn{
	position: relative;
    font-size: 2.5em;
    display: inline-block;
    width: 12%;
    margin: 0 4vw 0 79vw;
    padding: 7px 3%;
    text-align: center;
    cursor: pointer;
    min-width: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
	
}   


.menuItems{
    list-style: none;
    padding: 1%;
	position: absolute;
    margin: 0 4vw 0 79vw;
	background-color: rgba(55, 42, 71, 1);
	min-width: 100px;
}

.menuItems a{
    font-size: 1.6vw;
	color: black;
	padding: 8px 1vw 8px 1vw;
	display: block;
    text-align: center;
    border-top: 3px solid rgba(194, 166, 255, 0.2)
}



.headerC{
    position: fixed;
    width:100%;
    z-index: 5;
}

.slogan{
    font-family: "28_days";
    letter-spacing: 3px;
    font-size: 2em;
    font-weight: lighter;
    text-align: right;
    padding: 150px 4vw 0 0;
    color: rgb(205,205,205);
}

.mainHeading{
    font-family: "Lovers Quarrel", sans-serif;
    letter-spacing: 3px;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    display: block;
    margin: 40vh auto 0 auto;
    color: rgba(255, 255, 255, 1);
}
.hand{
    position: absolute;
    top: 680px;
    left:50px;
    color: white; 
}

.menuItems, .hand, .viewCart{
    display: none;
}
.newCollectionB{
    color: white;
    padding: 15px 20px;
    display: block;
    margin: 10px auto 0 auto;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(194, 166, 255, 0.2);
    cursor: pointer;
    outline: none;
}
/*.show{display: block;}*/
/*h1{
    color: blue;
}*/


/*-----------------------------------------------------------
             MOBILE STYLES - 568PX RESOLUTION
------------------------------------------------------------*/

@media screen and (min-width: 568px){
    h1{
        color: green;
    }
}

/*-----------------------------------------------------------
             MOBILE STYLES - 768PX RESOLUTION
------------------------------------------------------------*/

@media screen and (min-width: 768px){
     h1{
        color: red;
    }
    
}
/*-----------------------------------------------------------
             MOBILE STYLES - 1024PX RESOLUTION
------------------------------------------------------------*/

@media screen and (min-width: 1024px){
     h1{
        color: orange;
    }
    
}
/*-----------------------------------------------------------
             MOBILE STYLES - 1280PX RESOLUTION
------------------------------------------------------------*/

@media screen and (min-width: 1280px){
     h1{
        color: purple;
    }
    
}
